*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background-color: rgb(51, 45, 97);
    height: 200px;
    width: 200px;
    color: aliceblue;
    margin: 20px;
    text-align: center;

   /* display: none;*/
}
#box{
   background-color: rgb(218, 156, 62); 
   width: 100px;
   height: 100px;
   position: sticky;

}
h1{
    background-color: rgb(42, 47, 151);
    color: aliceblue;
    text-align: center;
    margin: auto;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container2{
    background-color: rgb(200, 25, 216);
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;

}
#box2{
    background-color: rgb(128, 225, 232);
    text-align: center;
    margin: auto;
    height: 100px;
    width: 100px;
    position: sticky;

}
/*display,relative,absulate,position*/